<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lessons</title>
  </head>
  <body>
    <h1>Таблицы сложности предметов</h1>
    {% for edup in eduparal_list %}
    <h2>{{edup.year}} - {{edup.level.title}}</h2>
    {% for row in comp_list %} {% if row.eduparallel.year == edup.year %}
    {{row.subject}} ---> {{row.complexity}} <br />
    {%endif%} {%endfor%} {%endfor%}
  </body>
</html>
