{% extends 'schedule/base_schedule.html' %} {% block content %}
  <div class="header-name">
    <h1>Данные, для которых будет составляться расписание</h1>
  </div>
  <a class="btn make-schedule" href="{% url 'start_ga' %}">Составить расписание</a>
  <table class="schedule-data-table">
    <caption>
      Классы
    </caption>
    <tr>
      <th>Класс</th>
      <th>Кол-во учеников</th>
      <th>Предметы</th>
      <th>Академ часы</th>
      <th>Сложность</th>
    </tr>

    {% for class, sch, sbj_amount in classes %}

    <tr>
      <td rowspan="{{sbj_amount}}">{{ class.class_name }}</td>
      <td rowspan="{{sbj_amount}}">{{ class.student_amount }}</td>
    </tr>
    {% for sbj, comp, h in sch %}
    <tr>
      <td>{{ sbj }}</td>
      <td>{{ h }}</td>
      <td>{{ comp }}</td>
    </tr>
    <wbr />
    {% endfor %} {% endfor %}
  </table>
</div>
{% endblock %}

