.header-name h1 {
  color: #39326c;
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 20px;
  font-weight: bold;
}

h1 a {
  color: #669;
  font-size: 18pt;
}

.page-header {
  background-color: #39326c;
  margin-top: 0;
  padding: 2px 2px 20px 2px;
}

.page-header h1,
.page-header h1 a,
.page-header h1 a:visited,
.page-header h1 a:active {
  color: #ffffff;
  font-size: 36pt;
  text-decoration: none;
  margin-left: 20px;
}

.content {
  margin-left: 40px;
}

.obj h1 {
  color: #39326c;
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-weight: bold;
}

h1,
h2,
h3,
h4 {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
}

.date {
  color: #828282;
}

.save:hover {
  background: #669;
  color: white;
}

.save {
  font-size: 0.9em;
  float: left;
  color: white;
  background: #39326c;
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  border: none;
}

.post-form textarea,
.post-form input {
  width: 100%;
  border: none;
  transition: 0.3s linear;
  border-bottom: 1px solid grey;
}

.page:hover {
  color: white;
}
.page {
  color: #95adfa;
  float: left;
  font-size: 12pt;
  margin-top: 5px;
}

.top-menu,
.top-menu:hover,
.top-menu:visited {
  color: #f8a5b2;
  float: right;
  font-size: 26pt;
  margin-right: 20px;
  margin-top: 30px;
}

/* .post {
  margin-bottom: 70px;
} */

/* .post h1 a,
.post h1 a:visited {
  color: #483d8b;
} */

.obj {
  display: flex;
  flex-direction: column;
}
.pencil:hover {
  background: #6699ff;
}
.pencil {
  margin-right: auto;
  background: #4777d8;
}
.trash:hover {
  background: #b9495a;
}
.trash {
  margin-left: auto;
  background: #882836;
}

.glyphicon-trash {
  color: white;
}

.glyphicon-pencil {
  color: white;
}

table {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 14px;
  background: white;
  /* max-width: 100%; */
  width: 150%;
  border-collapse: collapse;
  text-align: left;
}
caption {
  caption-side: top;
  text-align: center;
  padding: 30px 30px;
  font-size: 15px;
  color: #39326c;
  font-weight: bold;
}
th {
  font-weight: normal;
  color: #039;
  border-bottom: 2px solid #6678b1;
  padding: 10px 8px;
}
td {
  color: #669;
  padding: 2px 2px;
  transition: 0.3s linear;
  border-bottom: 1px solid grey;
}
tr:hover td {
  color: #6699ff;
}
.table-sbj {
  max-width: 100%;
  width: 100%;
}

.small-col {
  padding: 0%;
  font-size: 12px;
}
/* 

th {
  border: 1px solid grey;

}

td {
  border: 1px solid grey;
  border-bottom: 1px solid grey;
}



th,
td {
  border: 1px solid grey;
  padding: 10px 15px;
}

table {
  border-collapse: collapse;
  border: 3px solid grey;
  border-top: 3px solid grey;
  width: 700px;
}
 */

/* .page-menu {
  margin-left: 100px;
  margin-top: 30px;
} */
