{% extends 'class/base_class.html' %} {% block content %}
<div class="obj">
  <a class="btn btn-default trash" href="{% url 'class_delete' pk=class.pk %}"
    ><span class="glyphicon glyphicon-trash"></span
  ></a>
  <h1>{{ class.eduparallel }}{{ class.letter }}</h1>
  <p>{{ class.student_amount }}</p>
  <p>{{ class.own_classroom|linebreaksbr }}</p>
  <a class="btn btn-default pencil" href="{% url 'class_edit' pk=class.pk %}"
    ><span class="glyphicon glyphicon-pencil"></span
  ></a>
</div>
{% endblock %}
